In [39]:
import pandas as pd

In [40]:
catalogo = pd.read_csv('CATALOGO.csv')
catalogo.info()
catalogo.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324499 entries, 0 to 324498
Data columns (total 1 columns):
 #   Column                                                                                                                Non-Null Count   Dtype
---  ------                                                                                                                --------------   -----
 0   Volume;DataCreazione;MaxSize;ActualSize;FirstDoc;LastDoc;DocOnVolume;Srv_Name;JB_Root;Label;Path;Busy;Closed;Enabled  324499 non-null  object
dtypes: object(1)
memory usage: 2.5+ MB

Index(['Volume;DataCreazione;MaxSize;ActualSize;FirstDoc;LastDoc;DocOnVolume;Srv_Name;JB_Root;Label;Path;Busy;Closed;Enabled'], dtype='object')

In [41]:
catalogo = pd.read_csv('CATALOGO.csv')
catalogo.head() # get 5 first row from csv

  Volume;DataCreazione;MaxSize;ActualSize;FirstDoc;LastDoc;DocOnVolume;Srv_Name;JB_Root;Label;Path;Busy;Closed;Enabled
0  1;2002-03-27 14:06:34.720;-1;10721338;-1;-1;28...
1  2;2002-03-27 14:28:44.317;-1;12114157;-1;-1;28...
2  3;2002-03-27 16:01:27.057;-1;9072095;-1;-1;218...
3  4;2002-03-27 16:51:29.813;-1;20502088;-1;-1;47...
4  5;2002-03-27 15:37:00.740;-1;2196146;-1;-1;513...

In [42]:
usecols = ["Volume", "DataCreazione", "ActualSize"] 
catalogo2 = pd.read_csv('CATALOGO.csv', sep=';', index_col= "Volume", usecols= usecols)
catalogo2.head()

                  DataCreazione  ActualSize
Volume
1       2002-03-27 14:06:34.720    10721338
2       2002-03-27 14:28:44.317    12114157
3       2002-03-27 16:01:27.057     9072095
4       2002-03-27 16:51:29.813    20502088
5       2002-03-27 15:37:00.740     2196146

In [50]:

# Reading Data from a URL


# Webpage URL
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

# Define the column names
col_names = ["sepal_length_in_cm",
            "sepal_width_in_cm",
            "petal_length_in_cm",
            "petal_width_in_cm",
            "class"]

# Read data from URL
iris_data = pd.read_csv(url, names=col_names)

iris_data.head()
#iris_data.tail() # The tail() method is used to display the last few rows of a DataFrame.

,sepal_length_in_cm,sepal_width_in_cm,petal_length_in_cm,petal_width_in_cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [51]:
iris_data.columns

Index(['sepal_length_in_cm', 'sepal_width_in_cm', 'petal_length_in_cm',
       'petal_width_in_cm', 'class'],
      dtype='object')

In [52]:
iris_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   sepal_length_in_cm  150 non-null    float64
 1   sepal_width_in_cm   150 non-null    float64
 2   petal_length_in_cm  150 non-null    float64
 3   petal_width_in_cm   150 non-null    float64
 4   class               150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [54]:
# Get descriptive statistics
"""
    DataFrame.describe() : generates descriptive statistics, including those that summarize the central tendency, dispersion, and shape of the dataset’s distribution. If your data has missing values, don’t worry; they are not included in the descriptive statistics.
"""
iris_data.describe()

,sepal_length_in_cm,sepal_width_in_cm,petal_length_in_cm,petal_width_in_cm
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.054000,3.758667,1.198667
std,0.828066,0.433594,1.764420,0.763161
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [55]:
# Change the delimiter to a tab
iris_data.to_csv("tab_seperated_iris_data.csv", sep="\t")